@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

::-webkit-scrollbar {
  display: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  
}

header{
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}

header .brand{
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s ease;
}

header .brand:hover{
  transform: scale(1.25);
}

header .navigation{
  position: relative;
}

header .navigation .navigation-items a{
  position: relative;
  color: #fff;
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
  
}

header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a.active{
  color: #FABB18;
}

header .navigation .navigation-items a:hover{
  color: #FABB18;
}

section{
  padding: 100px 200px;
}

.home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #FABB18;
}

.home:before{
  z-index: 777;
  content: '';
  position: absolute;
  background: rgba(3, 96, 251, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content{
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}

.home .content.active{
  display: block;
}

.home .content h1{
  font-size: 75px;
  font-weight: 400;
  color: #ebebeb50;
  letter-spacing: -2px;
  line-height: 90px;
  margin-bottom: 40px;
  text-transform: lowercase;

}

.home .content h1 span{
  margin-top: 10px;  
  font-size: 150px;
  font-weight: 750;
  color: #fff;
  text-transform: uppercase;

}

.home .content p{
  margin-bottom: 65px;
  line-height: 20px;
  
}

.home .content a{
  background: #fff;
  padding: 15px 35px;
  color: #000000;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
}

.home .media-icons{
  z-index: 888;
  position: absolute;
  right: 50px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}

.home .media-icons a{
  color: #fff;
  font-size: 1.6em;
  transition: 0.5s ease;
}

.home .media-icons a:not(:last-child){
  margin-bottom: 15px;
}

.home .media-icons a:hover{
  transform: scale(1.3);
  color: #FABB18;
}

.home video{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-navigation{
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn{
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
  background: #FABB18;
}

.slider-navigation .nav-btn:not(:last-child){
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
  transform: scale(1.2);
}

.video-slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.video-slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 0.7s ease;
  transition-property: clip-path;
}

@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }

  section{
    padding: 100px 20px;
  }

  .home .media-icons{
    right: 15px;
  }

  header .navigation{
    display: none;
  }

  header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a{
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before{
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items{
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn{
    background: url(https://www.pinclipart.com/picdir/big/181-1812493_menu-white-menu-button-png-clipart.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active{
    z-index: 999;
    background: url(close.png)no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}

@media (max-width: 560px){
  .home .content h1{
    font-size: 3em;
    line-height: 60px;
  }
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding:70px 0 15px 0;

}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h3{
	font-size: 30px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 200;
	position: relative;
  line-height: 35px;

}
.footer-col h3 span{
	font-size: 50px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 900;
	position: relative;
  line-height: -20px;
}
.footer-col h4{
	font-size: 20px;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 15px;
	font-weight: 700;
	position: relative;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: lowercase;
	color: #ffffff;
	text-decoration: none;
	font-weight: 100;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
  transform: scale(1.05);


}
.footer-col .social-links a{
	display: inline-block;
	height: 50px;
	width: 50px;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 20px;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  transform: scale(1.3);
  color: #FABB18;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.copyright {

  font-size: 15px;
  color: #bbbbbb;
  text-align: center;
  padding-top: 20px;
  font-weight: 100;
  opacity: 0.5;



}

.covid {

  background-color: #f1f1f1;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.covid h7 {

font-weight: 800;
font-size: 40px;
text-transform: uppercase;
margin-bottom: 10px;
color: #24262b;

}

.covid h7 span {

  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FABB18 50%);
}

.covid p {

font-weight: 400;
font-size: 20px;
margin-bottom: 20px;
color: #24262b;
}

.covid a {

text-decoration: none;
color: #24262b;
background: #FABB18;
padding: 10px;
font-size: 20px;
font-weight: 900;
transition: 0.3s;


}

.covid a:hover {

  text-decoration: none;
  color: #FABB18;
  background: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 900;
  transform: scale(1.2);
  
  }

.ig {

  padding: 50px 20px;
  text-align: center;

}

.ig h7 {

  font-size: 5em;
  font-weight: 700;
  color: #24262b;
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FABB18 50%);
}

.ig p {

  font-weight: 400;
  font-size: 1.3em;
  color: #24262b;

}


  .image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;
  
    box-sizing: border-box;
    padding: var(--gap);
    overflow: hidden;

  
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    

  }
  
  .image-grid > img {
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
    object-fit: cover;
    overflow: hidden; 
    display: inline-block;
  }
  
  .image-grid-col-2 {
    grid-column: span 2;

  }
  
  .image-grid-row-2 {
    grid-row: span 2;
  }
  
  .image-grid > img:hover {
    transform: scale(1.1);
    object-fit: cover;
    overflow: hidden;  
}
  
  /* Anything udner 1024px */
  @media screen and (max-width: 1024px) {
    .image-grid {
      --num-cols: 2;
      --row-height: 200px;
    }
  }


.newsletter-container{
  background-color: #f1f1f1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.picture{
  width: 50%;
  background: url(img/bg.jpg) no-repeat center;
  background-size: cover;
  transition: 0.3s;
  overflow: hidden;
}


.newsletter{
 width: 50%;
 padding: 150px 8%; 
}

.newsletter h1{
  margin-bottom: 20px;
  color: #24262b;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 40px;
}

.newsletter h1 span {

  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FABB18 50%);

}

.newsletter p{
  margin-bottom: 40px;
  font-size: 14px;
  color: #777;
}

.newsletter-form{
  height: 68px;
  background-color: #24262b;
  border-radius: 3px;
  display: flex;
  padding: 8px 0;
}

.emailInput,.btn{
  background: none;
  border: none;
  font-size: 15px;
  outline: none;
  transition: .3s linear;
}

.emailInput{
  width: calc(100% - 120px);
  padding: 20px;
  color: #f1f1f1;
}

.emailInput::placeholder{
  color: #f1f1f13d;
}

.btn{
  width: 120px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f1f1f1bb;
  cursor: pointer;
  border-left: 1px solid #777;
  letter-spacing: 0.4px;
}

.btn:hover{
  color: #ffffff;
}

@media screen and (max-width:900px){
  .picture{
      width: 100%;
      height: 360px;
  }
  .newsletter{
      width: 100%;
      padding: 100px 20%;
  }
}

@media screen and (max-width:600px){
  .newsletter{
      padding: 100px 30px;
  }
}
